.p-no1 {
  margin-bottom: 50px;
  background: rgb(11, 218, 221);
  width: 10rem;
}
.p-no2 {
  margin-top: 30px;
  background: #ff0497;
  width: 10rem;
}
.p-no3 {
  margin-top: 30px;
  background: rgb(128, 217, 125);
  width: 10rem;
}
